project-1-lead-management-automation/Lead_Capture_to_Airtable_CRM_SANITIZED.blueprint.json
{
  "name": "Lead Capture to Airtable CRM",
  "flow": [
    {
      "id": 2,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "from": "drive",
        "mode": "select",
        "limit": 10,
        "sheetId": "Form Responses 1",
        "__IMTCONN__": 0,
        "spreadsheetId": "[REDACTED_SPREADSHEETID]",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -2200,
          "y": -1039
        },
        "restore": {
          "parameters": {
            "from": {
              "label": "My Drive"
            },
            "mode": {
              "label": "Search by path"
            },
            "sheetId": {
              "label": "Form Responses 1"
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "[REDACTED_CONNECTION]"
              },
              "label": "My Google connection ([REDACTED_EMAIL])"
            },
            "spreadsheetId": {
              "path": [
                "[REDACTED_SPREADSHEETID_PATH]"
              ]
            },
            "includesHeaders": {
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          },
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "from",
            "type": "select",
            "label": "Drive",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "file",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "tableFirstRow",
            "type": "text",
            "label": "Row with headers",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Timestamp (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Full Name   (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Company Name   (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Email   (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Phone Number   (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Service Required   (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Estimated Budget (PKR)   (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "Message / Project Details   (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Preferred Contact Method   (I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          }
        ]
      }
    },
    {
      "id": 12,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 0
      },
      "filter": null,
      "mapper": {
        "base": "[REDACTED_AIRTABLE_ID]",
        "table": "[REDACTED_AIRTABLE_ID]",
        "formula": "{Email}='{{2.`3`}}'",
        "maxRecords": "1",
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": -1953,
          "y": -1125
        },
        "restore": {
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Lead Management System"
            },
            "sort": {
              "mode": "chose"
            },
            "view": {
              "mode": "chose"
            },
            "table": {
              "mode": "chose",
              "label": "Leads"
            },
            "fields": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "[REDACTED_CONNECTION]"
              },
              "label": "Airtable CRM Connection (User ID: usrFppVeBxqKKJPIn)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Full Name",
            "type": "text",
            "label": "Full Name"
          },
          {
            "name": "Lead Status",
            "type": "text",
            "label": "Lead Status"
          },
          {
            "name": "Company",
            "type": "text",
            "label": "Company"
          },
          {
            "name": "Email",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "Phone Number",
            "type": "text",
            "label": "Phone Number"
          },
          {
            "name": "Service Required",
            "type": "text",
            "label": "Service Required"
          },
          {
            "name": "Estimated Budget",
            "type": "number",
            "label": "Estimated Budget"
          },
          {
            "name": "Message",
            "type": "text",
            "label": "Message",
            "multiline": true
          },
          {
            "name": "Lead Score",
            "type": "number",
            "label": "Lead Score"
          },
          {
            "name": "Source",
            "type": "text",
            "label": "Source"
          },
          {
            "name": "Follow-up Date",
            "time": false,
            "type": "date",
            "label": "Follow-up Date"
          },
          {
            "name": "Assigned To",
            "type": "text",
            "label": "Assigned To"
          },
          {
            "name": "Created Date",
            "type": "date",
            "label": "Created Date"
          },
          {
            "name": "Lead ID",
            "type": "number",
            "label": "Lead ID"
          }
        ]
      }
    },
    {
      "id": 13,
      "module": "builtin:BasicAggregator",
      "version": 1,
      "parameters": {
        "feeder": 12
      },
      "filter": null,
      "mapper": {
        "id": "{{12.id}}"
      },
      "metadata": {
        "designer": {
          "x": -1725,
          "y": -1143
        },
        "restore": {
          "extra": {
            "feeder": {
              "label": "Airtable - Search Records [12]"
            },
            "target": {
              "label": "Custom"
            }
          }
        },
        "advanced": true
      }
    },
    {
      "id": 14,
      "module": "builtin:BasicRouter",
      "version": 1,
      "filter": null,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": -1494,
          "y": -1183
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "parameters": {
                "__IMTCONN__": 0
              },
              "filter": {
                "name": "New Lead – Email Not Found",
                "conditions": [
                  [
                    {
                      "a": "{{first(map(13.array; \"id\"))}}",
                      "o": "notexist"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "[REDACTED_AIRTABLE_ID]",
                "table": "[REDACTED_AIRTABLE_ID]",
                "record": {
                  "fld4x3tb0ZZAufkmO": "{{2.`6`}}",
                  "fld9uC7J24FrmLqBj": "{{2.`1`}}",
                  "fldFhUJFIRCYoSP3U": "New",
                  "fldH7MtY9wPooWiu7": "{{2.`7`}}",
                  "fldJqNphAevbSnzXg": "{{addDays(now; 2)}}",
                  "fldK47BqZgkgHmw9S": "{{2.`2`}}",
                  "fldMdK4vIvuasbFLd": "{{2.`4`}}",
                  "fldOVs1EwwF6HktvT": "{{2.`3`}}",
                  "fldWlv1iPT4Vazgct": "Sales Team",
                  "fldjIgueYoqgnmNcg": "Website Form",
                  "fldomfb89ErbamXK8": "{{if(2.`6` >= 200000; 3; if(2.`6` >= 75000; 2; 1))}}",
                  "fldvkQG7k5By5td8g": "{{2.`5`}}"
                },
                "typecast": false,
                "useColumnId": false
              },
              "metadata": {
                "designer": {
                  "x": -1245,
                  "y": -1178
                },
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Lead Management System"
                    },
                    "table": {
                      "label": "Leads",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Full Name"
                            },
                            {
                              "mode": "edit",
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "select",
                              "label": "Lead Status",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "New",
                                  "value": "New"
                                },
                                {
                                  "label": "Qualified",
                                  "value": "Qualified"
                                },
                                {
                                  "label": "Contected",
                                  "value": "Contected"
                                },
                                {
                                  "label": "Proposal Sent",
                                  "value": "Proposal Sent"
                                },
                                {
                                  "label": "Won",
                                  "value": "Won"
                                },
                                {
                                  "label": "Lost",
                                  "value": "Lost"
                                },
                                {
                                  "label": "Raza Exports",
                                  "value": "Raza Exports"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Company"
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Email"
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Phone Number"
                            },
                            {
                              "mode": "edit",
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "select",
                              "label": "Service Required",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "CRM Automation",
                                  "value": "CRM Automation"
                                },
                                {
                                  "label": "Lead Management",
                                  "value": "Lead Management"
                                },
                                {
                                  "label": "Email Automation",
                                  "value": "Email Automation"
                                },
                                {
                                  "label": "WhatsApp Automation",
                                  "value": "WhatsApp Automation"
                                },
                                {
                                  "label": "AI Chatbot",
                                  "value": "AI Chatbot"
                                },
                                {
                                  "label": "Other",
                                  "value": "Other"
                                },
                                {
                                  "label": "75000",
                                  "value": "75000"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "number",
                              "label": "Estimated Budget"
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Message",
                              "multiline": true
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "number",
                              "label": "Lead Score"
                            },
                            {
                              "mode": "edit",
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "select",
                              "label": "Source",
                              "dynamic": true,
                              "options": [
                                {
                                  "label": "Website Form",
                                  "value": "Website Form"
                                },
                                {
                                  "label": "Referral",
                                  "value": "Referral"
                                },
                                {
                                  "label": "LinkedIn",
                                  "value": "LinkedIn"
                                },
                                {
                                  "label": "Email",
                                  "value": "Email"
                                },
                                {
                                  "label": "WhatsApp",
                                  "value": "WhatsApp"
                                },
                                {
                                  "label": "Other",
                                  "value": "Other"
                                },
                                {
                                  "label": "New",
                                  "value": "New"
                                }
                              ],
                              "validate": false
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "time": false,
                              "type": "date",
                              "label": "Follow-up Date"
                            },
                            {
                              "name": "[REDACTED_AIRTABLE_ID]",
                              "type": "text",
                              "label": "Assigned To"
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fldFhUJFIRCYoSP3U": {
                          "mode": "edit"
                        },
                        "fldjIgueYoqgnmNcg": {
                          "mode": "edit"
                        },
                        "fldvkQG7k5By5td8g": {
                          "mode": "edit"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "[REDACTED_CONNECTION]"
                      },
                      "label": "Airtable CRM Connection (User ID: usrFppVeBxqKKJPIn)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Full Name"
                      },
                      {
                        "mode": "edit",
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "select",
                        "label": "Lead Status"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Company"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Email"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Phone Number"
                      },
                      {
                        "mode": "edit",
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "select",
                        "label": "Service Required"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "number",
                        "label": "Estimated Budget"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Message"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "number",
                        "label": "Lead Score"
                      },
                      {
                        "mode": "edit",
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "select",
                        "label": "Source"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "time": false,
                        "type": "date",
                        "label": "Follow-up Date"
                      },
                      {
                        "name": "[REDACTED_AIRTABLE_ID]",
                        "type": "text",
                        "label": "Assigned To"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Full Name",
                    "type": "text",
                    "label": "Full Name"
                  },
                  {
                    "name": "Lead Status",
                    "type": "text",
                    "label": "Lead Status"
                  },
                  {
                    "name": "Company",
                    "type": "text",
                    "label": "Company"
                  },
                  {
                    "name": "Email",
                    "type": "text",
                    "label": "Email"
                  },
                  {
                    "name": "Phone Number",
                    "type": "text",
                    "label": "Phone Number"
                  },
                  {
                    "name": "Service Required",
                    "type": "text",
                    "label": "Service Required"
                  },
                  {
                    "name": "Estimated Budget",
                    "type": "number",
                    "label": "Estimated Budget"
                  },
                  {
                    "name": "Message",
                    "type": "text",
                    "label": "Message",
                    "multiline": true
                  },
                  {
                    "name": "Lead Score",
                    "type": "number",
                    "label": "Lead Score"
                  },
                  {
                    "name": "Source",
                    "type": "text",
                    "label": "Source"
                  },
                  {
                    "name": "Follow-up Date",
                    "time": false,
                    "type": "date",
                    "label": "Follow-up Date"
                  },
                  {
                    "name": "Assigned To",
                    "type": "text",
                    "label": "Assigned To"
                  },
                  {
                    "name": "Created Date",
                    "type": "date",
                    "label": "Created Date"
                  },
                  {
                    "name": "Lead ID",
                    "type": "number",
                    "label": "Lead ID"
                  }
                ]
              },
              "onerror": [
                {
                  "id": 9,
                  "module": "google-sheets:addRow",
                  "version": 2,
                  "parameters": {
                    "__IMTCONN__": 0
                  },
                  "mapper": {
                    "from": "drive",
                    "mode": "select",
                    "values": {
                      "0": "{{2.`0`}}",
                      "1": "{{2.`3`}}",
                      "2": "Airtable – Create a Record",
                      "3": "{{4.error.message}}",
                      "4": "Not retried",
                      "5": "Review Airtable mapping and retry manually"
                    },
                    "sheetId": "Automation Errors",
                    "spreadsheetId": "[REDACTED_SPREADSHEETID]",
                    "includesHeaders": true,
                    "insertDataOption": "INSERT_ROWS",
                    "useColumnHeaders": false,
                    "valueInputOption": "USER_ENTERED",
                    "insertUnformatted": false
                  },
                  "metadata": {
                    "designer": {
                      "x": -1234,
                      "y": -830
                    },
                    "restore": {
                      "expect": {
                        "from": {
                          "label": "My Drive"
                        },
                        "mode": {
                          "label": "Search by path"
                        },
                        "sheetId": {
                          "label": "Automation Errors"
                        },
                        "spreadsheetId": {
                          "path": [
                            "[REDACTED_SPREADSHEETID_PATH]",
                            "[REDACTED_SPREADSHEETID_PATH]",
                            "[REDACTED_SPREADSHEETID_PATH]",
                            "[REDACTED_SPREADSHEETID_PATH]"
                          ]
                        },
                        "includesHeaders": {
                          "label": "Yes"
                        },
                        "insertDataOption": {
                          "mode": "chose",
                          "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                          "label": "No"
                        },
                        "valueInputOption": {
                          "mode": "chose",
                          "label": "User entered"
                        },
                        "insertUnformatted": {
                          "mode": "chose"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "[REDACTED_CONNECTION]"
                          },
                          "label": "My Google connection ([REDACTED_EMAIL])"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                          "enum": [
                            "select",
                            "fromAll",
                            "map"
                          ]
                        }
                      },
                      {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                      },
                      {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                          "enum": [
                            "USER_ENTERED",
                            "RAW"
                          ]
                        }
                      },
                      {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                          "enum": [
                            "INSERT_ROWS",
                            "OVERWRITE"
                          ]
                        }
                      },
                      {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                          "enum": [
                            "drive",
                            "share",
                            "team"
                          ]
                        }
                      },
                      {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                      },
                      {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                      },
                      {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                          "enum": [
                            true,
                            false
                          ]
                        }
                      },
                      {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                          "enum": [
                            true,
                            false
                          ]
                        }
                      },
                      {
                        "name": "values",
                        "spec": [
                          {
                            "name": "0",
                            "type": "text",
                            "label": "Timestamp (A)"
                          },
                          {
                            "name": "1",
                            "type": "text",
                            "label": "Lead Email (B)"
                          },
                          {
                            "name": "2",
                            "type": "text",
                            "label": "Failed Module (C)"
                          },
                          {
                            "name": "3",
                            "type": "text",
                            "label": "Error Message (D)"
                          },
                          {
                            "name": "4",
                            "type": "text",
                            "label": "Retry Status (E)"
                          },
                          {
                            "name": "5",
                            "type": "text",
                            "label": "Resolution Notes (F)"
                          },
                          {
                            "name": "6",
                            "type": "text",
                            "label": "(G)"
                          },
                          {
                            "name": "7",
                            "type": "text",
                            "label": "(H)"
                          },
                          {
                            "name": "8",
                            "type": "text",
                            "label": "(I)"
                          },
                          {
                            "name": "9",
                            "type": "text",
                            "label": "(J)"
                          },
                          {
                            "name": "10",
                            "type": "text",
                            "label": "(K)"
                          },
                          {
                            "name": "11",
                            "type": "text",
                            "label": "(L)"
                          },
                          {
                            "name": "12",
                            "type": "text",
                            "label": "(M)"
                          },
                          {
                            "name": "13",
                            "type": "text",
                            "label": "(N)"
                          },
                          {
                            "name": "14",
                            "type": "text",
                            "label": "(O)"
                          },
                          {
                            "name": "15",
                            "type": "text",
                            "label": "(P)"
                          },
                          {
                            "name": "16",
                            "type": "text",
                            "label": "(Q)"
                          },
                          {
                            "name": "17",
                            "type": "text",
                            "label": "(R)"
                          },
                          {
                            "name": "18",
                            "type": "text",
                            "label": "(S)"
                          },
                          {
                            "name": "19",
                            "type": "text",
                            "label": "(T)"
                          },
                          {
                            "name": "20",
                            "type": "text",
                            "label": "(U)"
                          },
                          {
                            "name": "21",
                            "type": "text",
                            "label": "(V)"
                          },
                          {
                            "name": "22",
                            "type": "text",
                            "label": "(W)"
                          },
                          {
                            "name": "23",
                            "type": "text",
                            "label": "(X)"
                          },
                          {
                            "name": "24",
                            "type": "text",
                            "label": "(Y)"
                          },
                          {
                            "name": "25",
                            "type": "text",
                            "label": "(Z)"
                          }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                          [
                            [
                              "Timestamp",
                              "Lead Email",
                              "Failed Module",
                              "Error Message",
                              "Retry Status",
                              "Resolution Notes"
                            ]
                          ]
                        ]
                      }
                    ]
                  }
                },
                {
                  "id": 10,
                  "module": "builtin:Ignore",
                  "version": 1,
                  "parameters": {},
                  "mapper": {},
                  "metadata": {
                    "designer": {
                      "x": -1003,
                      "y": -833
                    },
                    "restore": {}
                  }
                }
              ]
            },
            {
              "id": 6,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "to": [
                  "{{4.Email}}"
                ],
                "subject": "We received your inquiry",
                "bodyType": "collection",
                "contents": [
                  {
                    "text": "Hello {{4.`Full Name`}},\r\n\r\nThank you for contacting us regarding {{4.`Service Required`}}.\r\n\r\nWe have received your inquiry and our team will review it shortly. Your follow-up is scheduled within the next two business days.\r\n\r\nBest regards,\r\nSales Team",
                    "image": {}
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": -991,
                  "y": -1185
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "from": {
                      "mode": "chose"
                    },
                    "bodyType": {
                      "label": "Collection of contents (text, images, etc.)"
                    },
                    "contents": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "signature": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "emailHeaders": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "[REDACTED_CONNECTION]"
                      },
                      "label": "Gmail Confirmation Sender ([REDACTED_EMAIL])"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google-email",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address",
                      "required": true,
                      "validate": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "bodyType",
                    "type": "select",
                    "label": "Body type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "rawHtml",
                        "collection"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "filename",
                          "type": "filename",
                          "label": "File name",
                          "required": true,
                          "semantic": "file:name"
                        },
                        {
                          "name": "data",
                          "type": "buffer",
                          "label": "Data",
                          "required": true,
                          "semantic": "file:data"
                        }
                      ],
                      "type": "collection",
                      "label": "Attachment"
                    },
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "From"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address"
                    },
                    "type": "array",
                    "label": "CC recipients"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Recipient email address"
                    },
                    "type": "array",
                    "label": "BCC recipients"
                  },
                  {
                    "name": "emailHeaders",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Key",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Email header"
                    },
                    "type": "array",
                    "label": "Additional email headers"
                  },
                  {
                    "name": "contents",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "text",
                          "type": "text",
                          "label": "Text"
                        },
                        {
                          "name": "image",
                          "spec": [
                            {
                              "name": "filename",
                              "type": "filename",
                              "label": "File name",
                              "semantic": "file:name"
                            },
                            {
                              "name": "data",
                              "type": "buffer",
                              "label": "Data",
                              "semantic": "file:data"
                            },
                            {
                              "name": "width",
                              "type": "uinteger",
                              "label": "Width"
                            },
                            {
                              "name": "height",
                              "type": "uinteger",
                              "label": "Height"
                            }
                          ],
                          "type": "collection",
                          "label": "Image"
                        }
                      ],
                      "type": "collection",
                      "label": "Content"
                    },
                    "type": "array",
                    "label": "Body contents"
                  },
                  {
                    "name": "signature",
                    "type": "select",
                    "label": "Signature content"
                  }
                ]
              }
            },
            {
              "id": 7,
              "module": "slack:CreateMessage",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "text": "🔔 New Lead Received\r\n\r\nName:{{2.`1`}}\r\nCompany: {{2.`2`}}\r\nEmail: {{2.`3`}}\r\nPhone: {{2.`4`}}\r\nService: {{2.`5`}}\r\nBudget: PKR {{2.`6`}}\r\nLead Score: {{4.`Lead Score`}}\r\nFollow-up Date: {{4.`Follow-up Date`}}\r\nStatus: New\r\nSource: Website Form\nAssigned To: {{4.`Assigned To`}}",
                "parse": false,
                "mrkdwn": true,
                "channel": "[REDACTED_SLACK_ID]",
                "channelType": "public",
                "channelWType": "list"
              },
              "metadata": {
                "designer": {
                  "x": -710,
                  "y": -1181
                },
                "restore": {
                  "expect": {
                    "parse": {
                      "mode": "chose"
                    },
                    "mrkdwn": {
                      "mode": "chose"
                    },
                    "channel": {
                      "mode": "chose",
                      "label": "all-ai-automation-practice"
                    },
                    "link_names": {
                      "mode": "chose"
                    },
                    "channelType": {
                      "label": "Public channel"
                    },
                    "channelWType": {
                      "label": "Select from the list"
                    },
                    "unfurl_links": {
                      "mode": "chose"
                    },
                    "unfurl_media": {
                      "mode": "chose"
                    },
                    "reply_broadcast": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "[REDACTED_CONNECTION]"
                      },
                      "label": "Slack Sales Alerts (aiautomationp-yam2706.slack.com - mndmsbr25)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:slack2,slack3",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "channelWType",
                    "type": "select",
                    "label": "Enter a channel ID or name",
                    "required": true,
                    "validate": {
                      "enum": [
                        "manualy",
                        "list"
                      ]
                    }
                  },
                  {
                    "name": "text",
                    "type": "text",
                    "label": "Text"
                  },
                  {
                    "name": "blocks",
                    "type": "text",
                    "label": "Blocks"
                  },
                  {
                    "name": "thread_ts",
                    "type": "text",
                    "label": "Thread message ID (time stamp)"
                  },
                  {
                    "name": "reply_broadcast",
                    "type": "boolean",
                    "label": "Reply broadcast"
                  },
                  {
                    "name": "link_names",
                    "type": "boolean",
                    "label": "Link names"
                  },
                  {
                    "name": "parse",
                    "type": "boolean",
                    "label": "Parse message text"
                  },
                  {
                    "name": "mrkdwn",
                    "type": "boolean",
                    "label": "Use markdown"
                  },
                  {
                    "name": "unfurl_links",
                    "type": "boolean",
                    "label": "Unfurl primarily text-based content"
                  },
                  {
                    "name": "unfurl_media",
                    "type": "boolean",
                    "label": "Unfurl media content"
                  },
                  {
                    "name": "icon_emoji",
                    "type": "text",
                    "label": "Icon emoji"
                  },
                  {
                    "name": "icon_url",
                    "type": "url",
                    "label": "Icon url"
                  },
                  {
                    "name": "username",
                    "type": "text",
                    "label": "User name"
                  },
                  {
                    "name": "channelType",
                    "type": "select",
                    "label": "Channel type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "public",
                        "private",
                        "im",
                        "mpim"
                      ]
                    }
                  },
                  {
                    "name": "channel",
                    "type": "select",
                    "label": "Public channel",
                    "required": true
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 15,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 9888387
              },
              "filter": {
                "name": "Duplicate Lead – Email Found",
                "conditions": [
                  [
                    {
                      "a": "{{first(map(13.array; \"id\"))}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "0": "{{2.`0`}}",
                  "1": "{{2.`1`}}",
                  "2": "{{2.`3`}}",
                  "3": "{{2.`4`}}",
                  "4": "{{2.`2`}}",
                  "5": "{{2.`5`}}",
                  "6": "{{first(map(13.array; \"id\"))}}",
                  "7": "Duplicate blocked and logged; existing Airtable record retained"
                },
                "sheetId": "Duplicate Leads",
                "spreadsheetId": "[REDACTED_SPREADSHEETID]",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "metadata": {
                "designer": {
                  "x": -1490,
                  "y": -815
                },
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Duplicate Leads"
                    },
                    "spreadsheetId": {
                      "path": [
                        "[REDACTED_SPREADSHEETID_PATH]",
                        "[REDACTED_SPREADSHEETID_PATH]",
                        "[REDACTED_SPREADSHEETID_PATH]",
                        "[REDACTED_SPREADSHEETID_PATH]"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes"
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "useColumnHeaders": {
                      "label": "No"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "[REDACTED_CONNECTION]"
                      },
                      "label": "My Google connection ([REDACTED_EMAIL])"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "required": true,
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet Name",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "useColumnHeaders",
                    "type": "select",
                    "label": "Use column headers as IDs of the columns",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Full Name (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Email (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Phone  (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Company (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Service Required (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Existing Airtable Record ID (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "Action Taken (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values in columns",
                    "metadata": [
                      [
                        [
                          "Timestamp",
                          "Full Name",
                          "Email",
                          "Phone ",
                          "Company",
                          "Service Required",
                          "Existing Airtable Record ID",
                          "Action Taken"
                        ]
                      ]
                    ]
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
