project-1-lead-management-automation/Lead_Capture_to_Airtable_CRM_SANITIZED.blueprint.json
{
    "name": "Lead Capture to Airtable CRM",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 10,
                "sheetId": "Form Responses 1",
                "__IMTCONN__": 0,
                "spreadsheetId": "/YOUR_GOOGLE_SHEET_ID",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 297,
                    "y": -285
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Form Responses 1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (email@example.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Lead Inquiry Responses"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Full Name   (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Company Name   (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Email   (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Phone Number   (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Service Required   (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Estimated Budget (PKR)   (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Message / Project Details   (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Preferred Contact Method   (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "base": "appBZNRQ29SO88rfz",
                "table": "tbllFUt6nZFHzAQiV",
                "record": {
                    "fld4x3tb0ZZAufkmO": "{{2.`6`}}",
                    "fld9uC7J24FrmLqBj": "{{2.`1`}}",
                    "fldFhUJFIRCYoSP3U": "New",
                    "fldH7MtY9wPooWiu7": "{{2.`7`}}",
                    "fldJqNphAevbSnzXg": "{{addDays(now; 2)}}",
                    "fldK47BqZgkgHmw9S": "{{2.`2`}}",
                    "fldMdK4vIvuasbFLd": "{{2.`4`}}",
                    "fldOVs1EwwF6HktvT": "{{2.`3`}}",
                    "fldWlv1iPT4Vazgct": "Sales Team",
                    "fldjIgueYoqgnmNcg": "Website Form",
                    "fldomfb89ErbamXK8": "{{if(2.`6` >= 200000; 3; if(2.`6` >= 75000; 2; 1))}}",
                    "fldvkQG7k5By5td8g": "{{2.`5`}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 597,
                    "y": -285
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Lead Management System"
                        },
                        "table": {
                            "label": "Leads",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld9uC7J24FrmLqBj",
                                            "type": "text",
                                            "label": "Full Name"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldFhUJFIRCYoSP3U",
                                            "type": "select",
                                            "label": "Lead Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                },
                                                {
                                                    "label": "Qualified",
                                                    "value": "Qualified"
                                                },
                                                {
                                                    "label": "Contected",
                                                    "value": "Contected"
                                                },
                                                {
                                                    "label": "Proposal Sent",
                                                    "value": "Proposal Sent"
                                                },
                                                {
                                                    "label": "Won",
                                                    "value": "Won"
                                                },
                                                {
                                                    "label": "Lost",
                                                    "value": "Lost"
                                                },
                                                {
                                                    "label": "Raza Exports",
                                                    "value": "Raza Exports"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldK47BqZgkgHmw9S",
                                            "type": "text",
                                            "label": "Company"
                                        },
                                        {
                                            "name": "fldOVs1EwwF6HktvT",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldMdK4vIvuasbFLd",
                                            "type": "text",
                                            "label": "Phone Number"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldvkQG7k5By5td8g",
                                            "type": "select",
                                            "label": "Service Required",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "CRM Automation",
                                                    "value": "CRM Automation"
                                                },
                                                {
                                                    "label": "Lead Management",
                                                    "value": "Lead Management"
                                                },
                                                {
                                                    "label": "Email Automation",
                                                    "value": "Email Automation"
                                                },
                                                {
                                                    "label": "WhatsApp Automation",
                                                    "value": "WhatsApp Automation"
                                                },
                                                {
                                                    "label": "AI Chatbot",
                                                    "value": "AI Chatbot"
                                                },
                                                {
                                                    "label": "Other",
                                                    "value": "Other"
                                                },
                                                {
                                                    "label": "75000",
                                                    "value": "75000"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fld4x3tb0ZZAufkmO",
                                            "type": "number",
                                            "label": "Estimated Budget"
                                        },
                                        {
                                            "name": "fldH7MtY9wPooWiu7",
                                            "type": "text",
                                            "label": "Message",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldomfb89ErbamXK8",
                                            "type": "number",
                                            "label": "Lead Score"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldjIgueYoqgnmNcg",
                                            "type": "select",
                                            "label": "Source",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Website Form",
                                                    "value": "Website Form"
                                                },
                                                {
                                                    "label": "Referral",
                                                    "value": "Referral"
                                                },
                                                {
                                                    "label": "LinkedIn",
                                                    "value": "LinkedIn"
                                                },
                                                {
                                                    "label": "Email",
                                                    "value": "Email"
                                                },
                                                {
                                                    "label": "WhatsApp",
                                                    "value": "WhatsApp"
                                                },
                                                {
                                                    "label": "Other",
                                                    "value": "Other"
                                                },
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldJqNphAevbSnzXg",
                                            "time": false,
                                            "type": "date",
                                            "label": "Follow-up Date"
                                        },
                                        {
                                            "name": "fldWlv1iPT4Vazgct",
                                            "type": "text",
                                            "label": "Assigned To"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldFhUJFIRCYoSP3U": {
                                    "mode": "edit"
                                },
                                "fldjIgueYoqgnmNcg": {
                                    "mode": "edit"
                                },
                                "fldvkQG7k5By5td8g": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable"
                            },
                            "label": "Airtable CRM Connection (User ID: YOUR_AIRTABLE_USER_ID)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:Airtable CRM Connection,Airtable CRM Connection",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld9uC7J24FrmLqBj",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "mode": "edit",
                                "name": "fldFhUJFIRCYoSP3U",
                                "type": "select",
                                "label": "Lead Status"
                            },
                            {
                                "name": "fldK47BqZgkgHmw9S",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldOVs1EwwF6HktvT",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldMdK4vIvuasbFLd",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "mode": "edit",
                                "name": "fldvkQG7k5By5td8g",
                                "type": "select",
                                "label": "Service Required"
                            },
                            {
                                "name": "fld4x3tb0ZZAufkmO",
                                "type": "number",
                                "label": "Estimated Budget"
                            },
                            {
                                "name": "fldH7MtY9wPooWiu7",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "fldomfb89ErbamXK8",
                                "type": "number",
                                "label": "Lead Score"
                            },
                            {
                                "mode": "edit",
                                "name": "fldjIgueYoqgnmNcg",
                                "type": "select",
                                "label": "Source"
                            },
                            {
                                "name": "fldJqNphAevbSnzXg",
                                "time": false,
                                "type": "date",
                                "label": "Follow-up Date"
                            },
                            {
                                "name": "fldWlv1iPT4Vazgct",
                                "type": "text",
                                "label": "Assigned To"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Lead Status",
                        "type": "text",
                        "label": "Lead Status"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone Number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "Service Required",
                        "type": "text",
                        "label": "Service Required"
                    },
                    {
                        "name": "Estimated Budget",
                        "type": "number",
                        "label": "Estimated Budget"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message",
                        "multiline": true
                    },
                    {
                        "name": "Lead Score",
                        "type": "number",
                        "label": "Lead Score"
                    },
                    {
                        "name": "Source",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "Follow-up Date",
                        "time": false,
                        "type": "date",
                        "label": "Follow-up Date"
                    },
                    {
                        "name": "Assigned To",
                        "type": "text",
                        "label": "Assigned To"
                    },
                    {
                        "name": "Created Date",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "Lead ID",
                        "type": "number",
                        "label": "Lead ID"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "to": [
                    "{{4.Email}}"
                ],
                "subject": "We received your inquiry",
                "bodyType": "collection",
                "contents": [
                    {
                        "text": "Hello {{4.`Full Name`}},\r\n\r\nThank you for contacting us regarding {{4.`Service Required`}}.\r\n\r\nWe have received your inquiry and our team will review it shortly. Your follow-up is scheduled within the next two business days.\r\n\r\nBest regards,\r\nSales Team",
                        "image": {}
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 897,
                    "y": -285
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Collection of contents (text, images, etc.)"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "signature": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "Gmail Confirmation Sender (email@example.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "contents",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content"
                        },
                        "type": "array",
                        "label": "Body contents"
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "text": "🔔 New Lead Received\r\n\r\nName:{{2.`1`}}\r\nCompany: {{2.`2`}}\r\nEmail: {{2.`3`}}\r\nPhone: {{2.`4`}}\r\nService: {{2.`5`}}\r\nBudget: PKR {{2.`6`}}\r\nLead Score: {{4.`Lead Score`}}\r\nFollow-up Date: {{4.`Follow-up Date`}}\r\nStatus: New\r\nSource: Website Form\nAssigned To: {{4.`Assigned To`}}",
                "parse": false,
                "mrkdwn": true,
                "channel": "YOUR_SLACK_CHANNEL_ID",
                "channelType": "public",
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 1197,
                    "y": -285
                },
                "restore": {
                    "expect": {
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "all-ai-automation-practice"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "Slack Sales Alerts"
                            },
                            "label": "Slack Sales Alerts (aiautomationp-yam2706.slack.com - mndmsbr)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}